#my_pbr_display {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;

    padding: 12px 22px;
    color: black;
    font-size: x-large;
    text-align: center;
    
    border-radius: 22px;
    background-color: rgb(222, 222, 222);
    z-index: 2222;

    opacity: 0;

    pointer-events: none;
}

@keyframes fadeOut {
    from {opacity: 0.8;}
    to {opacity: 0;}
}
.my_fadeout {
    animation: fadeOut 0.5s ease-out forwards;
}